@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700|Source+Sans+Pro:400,600,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
}
ul {
  list-style-type: none;
  overflow: hidden;
 background-color: #48BDC5;
 padding-right:15px;
}

li {
  float: right;
padding-right: 8em;
padding-right:160px;
}

li a {
  display: block;
  
  color: #FFFFFF;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: #0b2d39;

}

.active {
  background-color: ;
}
.logo {
  padding-top:5px ;
  padding-left: 80px;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.fa {
  padding: 17px;
  font-size: 17px;
  width:17px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  border-color:#48BDC5 ;
}

.fa:hover {
    opacity: 0.7;
}

.fa-phone {
  color: white;
  margin-left: 250px;
  background-color: #48BDC5;
  
}

.fa-envelope {

  color: white;
  margin-left: 80px;
  background-color: #48BDC5;'
}
.btn-style-one {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  line-height: 27px;
  padding: 8px 36px;
  background: #48bdc5;
  border: 1px solid #48bdc5;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-left: 150px;
}
   .mySlides {
        display: none
      }
      .slider-image {
        height: 80vh;
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        opacity: 50%;
      
      }








/* CONTACT PAGE */
.container{
    margin: ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

.container form{
    width: 770px;
    height: 600px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px  #132646;
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1{
    color: #132646;
    font-weight: 1000;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    font-family: Serif;
     font-size: 55px;
}

.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #48BDC5;
}

.container form input::placeholder{
    color:#132646;
}

.container form #lastName,
.container form #mobile{
    margin-left: 20px;
}

.container form h4{
    color: #132646;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border: 2px solid #48BDC5;
    color: #132646;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container form #button{
    border: none;
    background: #48bdc5;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #132646;
    width: 100px;
    padding: 0;
    margin-right: 50px;
    margin-bottom: 30px;
    transition: 0.3s;
    
}

.container form #button:hover{
    opacity: 0.7;
}
/* CONTACT PAGE */
   






/* Appointment PAGE */
.containerAppointment{
    margin: ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerAppointment{
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

.containerAppointment form{
    width: 770px;
    height: 650px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px  #132646;
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.containerAppointment form h2{
    color: #132646;
    font-weight: 1000;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    font-family: Serif;
     font-size: 45px;
}

.containerAppointment form input {
    width: 290px;
    height: 40px;
    padding-left: 20px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 20px;
    background: none;
    border-bottom: 2px solid #48BDC5;
}


.containerAppointment form input::placeholder{
    color:#132646;
}

.containerAppointment form #lastName,
.containerAppointment form #mobile{
    margin-left: 20px;
}
.containerAppointment form #date{
    margin-left: 150px;
}



.containerAppointment form textarea {
    background: none;
    border: none;
    border: 2px solid #48BDC5;
    color: #132646;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}


.containerAppointment form h4{
    color: #132646;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}
.containerAppointment form #button{
    border: none;
    background: #48bdc5;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #132646;
    width: 100px;
    padding: 0;
    margin-right: 50px;
    margin-bottom: 30px;
    transition: 0.3s;
    
}

.containerAppointment form #button:hover{
    opacity: 0.7;
}
/* Appointment PAGE */














      /* Caption text */


.textCaption h2 {
  font-size: 65px;
  text-transfor3: capitalize;
  font-weight: 1000;
  font-family: Serif;
  text-shadow: 2px 2px gray;
   color: #132646;
  position: absolute;
  bottom: 220px;
  width: 100%;
  text-align: center;
}
.textCaption p {
  font-size: 25px;
  text-transfor3: capitalize;
  font-weight: 1000;
  font-family: Serif;
  color:#6E6E6E;
  position: absolute;
  bottom: 150px;
  width: 100%;
  text-align: center;
}
.textCaptionn h2 {
  font-size: 65px;
  text-transfor3: capitalize;
  font-weight: 1000;
  font-family: Serif;
  text-shadow: 2px 2px gray;
   color: #132646;
  position: absolute;
  bottom: 220px;
  width: 100%;
  text-align: center;
}
.textCaptionn p {
  font-size: 25px;
  text-transfor3: capitalize;
  font-weight: 1000;
  font-family: Serif;
 
   color: #6E6E6E;
  position: absolute;
  bottom: 150px;
  width: 100%;
  text-align: center;
}
.textCaption .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 font-size: 26px;
  padding: 25px 35px;
  border: none;
  cursor: pointer;
 
  text-align: center;
  color:  #ffffff;
  border: 1px solid #48bdc5;
  background:#48bdc5;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.textCaption .btn:hover {
  background-color: #132646;
}


.textCaptionn .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 font-size: 26px;
  padding: 25px 35px;
  border: none;
  cursor: pointer;
 
  text-align: center;
  color:  #ffffff;
  border: 1px solid #48bdc5;
  background:#48bdc5;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.textCaptionn .btn:hover {
  background-color: #132646;
}

      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 60%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #132646;
        font-weight: bold;
        font-size: 25px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
         background-color: ;
      }
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        color: white;
        background-color:#132646;
      }
      /* Caption text */
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #ffffff;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #48BDC5;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active,
      .dot:hover {
        background-color: #111111;
      }
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {
          opacity: .4
        }
        to {
          opacity: 1
        }
      }
     

.btn-style-one:hover {
  color: #48bdc5;
  border: 1px solid #48bdc5;
  background: #ffffff;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.form-control {
  box-shadow: none;
  border-radius: 0;
  padding: 15px 20px;
  font-size: 14px;
  border: 2px solid #48bdc5;

}
.form-control:focus {
  box-shadow: none;
  border: 2px solid #48bdc5;
}
.form-control.main {
  padding: 20px;
}
.contact .contact-form .form-control {
  margin-bottom: 30px;

}
.form-control {
  box-shadow: none;
  border-radius: 0;
  padding: 20px 70px 20px 70px;
  font-size: 17px;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #48bdc5;
}
.form-control.main {
  padding: 20px;
}
.section-title h3 {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  color: #222222;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
}
.section-title span {
  color: #222222;
  font-weight: 400;
}
.section-title p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #777777;
  font-family: "Roboto", sans-serif;
}
.contact-area {
  padding-left: 70px;
}
.contact-area form {
  margin-top: 60px;
}
.contact-area .form-group {
  position: relative;
  margin-bottom: 20px;
  margin-right: 50px;
  justify-content: space-between;
}
.contact-area input,
.contact-area textarea {
  position: relative;
  width: 80%;
  height: 50px;
  color: #48bdc5;
  padding: 10px 25px;
  background: #f4f4f4;
  display: block;
  border: 1px solid #48bdc5;
  margin-bottom: 20px;

}
.contact-area .form-group select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 50px;
  width: 84%;
  padding: 50px 20px;
  border: 1px solid #ececec;
  background: #f4f4f4 url(../images/icons/icon-select.png) right center no-repeat;
  cursor: pointer;
}
.contact-area .form-group option {
  font-weight: normal;
  display: block;
  white-space: pre;
  height: 50px;
  width: 100%;
  padding: 50px;
}
.contact-area .form-group option:hover {
  background: #7b64cb;
  width: 80%;
}
.contact-area textarea {
  height: 100px;
  width: 80%;
  resize: none;
  padding-top: 15px;

}
.contact-area button {
  width: 80%;
  height: 50px;
}
.contact-area .form-group i {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 15px;
}



.btn-submit-appointment {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  line-height: 27px;
  padding: 8px 36px;
  background: #48bdc5;
  border: 1px solid #48bdc5;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-left: 10px;
}
.btn-submit-appointment:hover {
  color: #48bdc5;
  border: 1px solid #48bdc5;
  background: #ffffff;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.footer-distributed{
  background: #132646;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #92999f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #48BDC5;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #48BDC5;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 1;


  margin-right: 10px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .logo-footer {
  padding-top:5px ;
  padding-left: 80px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}
